.home {
  .greeting {
    background: url('/Animazing_Catalog_Background.png') center;
    background-size: cover;
    display: flex;

    flex-direction: column;
    align-items: center;
    h1 {
      background-color: rgba(0, 0, 0, 0.242);
      color: white;
      border-radius: 1rem;
      padding: 0 1rem;
      margin: 0.1rem;
    }
    p {
      background-color: rgba(0, 0, 0, 0.242);
      color: white;
      border-radius: 1rem;
      padding: 0 1rem;
      margin: 0.1rem;
    }
    .searchBox {
      button {
        img {
          object-fit: contain;
          justify-self: center;
          max-width: 1rem;
        }
      }
    }
  }
}
