@import 'app/_variables.scss';
.emailVerification{
  background: url('/Animazing_Catalog_Background.png') center;
  background-size: cover;
  display: grid;
  justify-content: center;
  .message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-navigation;
    margin: 13rem 1rem;
    color: $color-text-primary;
    padding: 3rem 2rem;
    border-radius: 2rem;
    max-width: 40rem;
    
    h2{
      text-align: center;
      
    }
    p{
      font-size: 1.25rem;
      margin: 2rem 0;
      
    }
    a{
      text-decoration: none;
      background-color: $color-link;
      padding: 1rem 2rem;
      border-radius: 2rem;
      text-align: center;
      margin-bottom: 1rem;
      box-shadow: white 0px 5px 15px;
      color: $color-text-primary;
    }
    a:active,
      a:hover {
        background-color: $color-button-active;
        box-shadow:
          rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        color: black;
        transition: ease-in-out 100ms;
      }
  }
}